.lightBlue {color: #B3D5E2;}
.lightBlueBack {background-color: #B3D5E2;}
.seaFoam {color: #7EA1A9;}
.seaFoamBack {background-color: #7EA1A9;}
.darkBlue {color: #25567F;}
.darkBlueBack {background-color: #25567F;}
.navyBack {background-color: #5696c1;}
.peach {color: #D89E95;}
.peachBack {background-color: #D89E95;}
.darkPeachBack {background-color: #a07875;}
.cream {color: #F4EECB;}
.creamBack {background-color: #F4EECB;}
.white {color: #fff;}
.whiteBack {background-color: #fff;}
.back {color: #333;}
.backBlack {background-color: #333;}
.lightGray {color: #ddd;}
.lightGrayBack {background-color: #ddd;}
.gray {color: #999;}
.grayBack {background-color: #999;}
.darkGray {color: #555;}
.darkGrayBack {background-color: #555;}

.floatR {float: right;}
.floatL {float: right;}

.textCenter {text-align: center;}

.centerBlock {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.inlineBlock {
    display: inline-block;
}

.laBelle {font-family: 'La Belle Aurore', cursive;}
.bigBelle {font-size: 2.4em;}
.josefin {font-family: 'Josefin Sans', sans-serif;}


/* ------------------------    ---------------------------------- */

.block {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.backPic, .backGif {
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover ;
}

.backPic {
}

@media screen and (max-width: 750px) { /* Specific to this particular image */
  .backPic {
    background-size: auto 100%;
  }
}

@media screen and (max-width: 915px) { /* Specific to this particular image */
  /*.backGif {
    background-size: auto 100%;
  }*/
}

.headerItem {
    margin-right: 10px;
    margin-left: 10px;
}

.myHeader {
    position: fixed;
    z-index: 1000;
    font-size: 1.6em;
    padding-top: 15px;
    background-color: rgba(0,0,0,.4);
    width: 100%;
    padding-bottom: 12px;
}

.chasingNora {
    font-size: 2.5em;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.headerCont {
    background-image: url("chasingnora.gif");
    background-position: bottom;
}

.grandfatherCover, .soundcloudGrandfather {
    width: 100%;
}

.grandfatherCover, .forwantCover {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-radius: 10px;
}

.grandfatherCover {background-image: url("imgGrandfather.jpg");}
.forwantCover {background-image: url("forwantofaletter.jpg");}

.innerBlock {
    margin: 15px;
}

.grandfatherAlbumArt {
    margin-top: 30px;
    background-image: url("imgGrandfather.jpg");
    width: 100%;
    max-width: 500px;
    height: 500px;
    background-size: cover;
    border-radius: 15px;
    margin-bottom: 15px;
}
.albumRelease {
    padding-left: 15px;
    padding-right: 15px;
}

.downloadGrandfather {
    margin-bottom: 15px;
    margin-top: 30px;
}

.youtubeVid {
    max-width: 960px;
}

.myPadding {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.marvinsRoom {
    margin-bottom: 10px; /* Need this to be 10 because padding is 20px */
    margin-top: 30px;
}

.chasingNoraImg {
    background-image: url("chasingnora.jpg");
    background-position: left;
}

.inner {
    padding: 2px;
}

.pictureGallery {
    /*padding-bottom: 3px;*/
    padding: 2px;
}

.youtubeRow {
    padding-top: 30px;
    padding-bottom: 30px;
}

.youtubeTitle {
    padding-top: 20px;
    font-size: 2.2em;
    padding-bottom: 20px;
}

.myButton, .myButtonMarv {
    font-size: .8em;
    padding-top: 13px;
    padding-bottom: 5px;
    margin-bottom: 28px;
    border-radius: 142px;

    width: 195px;
    cursor: pointer;
}

.myButton:hover { 
    background-color: #4c81a5;
}

.myButtonMarv:hover { 
    background-color: #7f615e;
}



.footerLinks {
    font-size: 1.6em;
    padding-bottom: 30px;
}

.myFooter {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

.blackLink:hover {
    font-weight: 600;
}


.chasingNoraImg2 {
    background-image: url("BeatingLights-10.jpg");
    background-position: center;
}

.line {
    height: 1px;
    border-radius: 1px;
    width: 100px;
    margin-top: -10px;
    margin-bottom: 23px;
}